<!-- navbar -->
<nav class="navbar animated fadeIn navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light py-0">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/VoipXP/SmallLogo.png" width="86px" height="40px" alt="VoipXP logo" class="brand-logo img-fluid" data-toggle="tooltip" data-placement="top" title="VoipXP" />
    </a>
    <button class="navbar-toggler border-0 p-2" (click)="toggleNavbar()" type="button" data-toggle="tooltip" data-placement="top" title="Menu">
        <i class="fa fa-bars fa-lg"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end m-0" [ngClass]="{ 'show': navbarOpen }">
        <ul class="nav navbar-nav align-items-center">
            <li class="nav-item nav-link py-0">
                <button type="button" class="btn button btn-pill btn-danger mx-0" data-toggle="tooltip" data-placement="top" title="Minimize">
                    <i class="fa fa-minus fa-lg" aria-hidden="true" style="padding-top: 0.3em;"></i>
                </button>
            </li>
            <li class="nav-item nav-link py-0">
                <button type="button" class="btn button btn-pill btn-success mx-0" data-toggle="tooltip" data-placement="top" title="Forward" [popover]="popForward" popoverTitle="Template ref content inside">
                    <span class="material-icons text-center text-white" style="padding-top: 0.3em;">phone_forwarded</span>
                </button>
                <ng-template #popForward>
                    <form [formGroup]="forwardForm">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" >Radios</label>
                            <div class="col-md-9 col-form-label">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radios" id="radio1" value="option1" checked>
                                <label class="form-check-label" for="radio1">
                                  Option 1
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radios" id="radio2" value="option2">
                                <label class="form-check-label" for="radio2">
                                  Option 2
                                </label>
                              </div>
                            </div>
                          </div>
                    </form>   
                </ng-template>
            </li>
            <li class="nav-item nav-link dropleft py-0">
                <button type="button" class="btn btn-pill btn-primary button text-white nav-link mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-placement="top" title="Menu">
                    <i class="fa fa-bars fa-lg text-white"></i>
                  </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-primary text-capitalize" href="#"><i class="fa text-primary fa-question font-2xl" aria-hidden="true"></i>help</a>
                    <a class="dropdown-item text-primary text-capitalize" href="#"><i class="fa text-primary fa-cog fa font-2xl" aria-hidden="true"></i>settings</a>
                    <a class="dropdown-item text-primary text-capitalize" href="#"><i class="fa text-primary fa-user fa font-2xl" aria-hidden="true"></i>profile</a>
                </div>
            </li>
            <li class="nav-item nav-link py-0">
                <button type="button" class="btn button btn-pill btn-danger mx-0" data-toggle="tooltip" [popover]="settingpopover" data-placement="top" title="Minimize">
                    <i class="fa fa-cog fa-lg" aria-hidden="true" style="padding-top: 0.3em;"></i>
                </button>
                <ng-template #settingpopover>
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="settingForm" class="form-horizontal">
                                <div class="form-group row">
                                  <label class="col-md-9 col-form-label" for="text-input">Call Forwarding</label>
                                  <div class="col-md-3">
                                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-md-9 col-form-label" for="email-input">Anywhere</label>
                                  <div class="col-md-3">
                                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-md-7 col-form-label" for="password-input">Remote Office</label>
                                  <div class="col-md-3"></div>
                                    <label class="switch switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                                <div class="form-group row">
                                  <label class="col-md-7 col-form-label" for="date-input">Simultaneous Ring</label>
                                  <div class="col-md-3"></div>
                                    <label class="switch switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                                <div class="form-group row">
                                  <label class="col-md-7 col-form-label" for="disabled-input">Voicemail</label>
                                  <div class="col-md-3"></div>
                                    <label class="switch switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                                <div class="form-group row">
                                  <label class="col-md-9 col-form-label" for="textarea-input">ACD State</label>
                                  <div class="col-md-3">
                                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                  </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">Call Forwarding</div>
                                    <div class="card-body p-0.5">
                                        <div class="form-group row p-0">
                                            <label class="col-md-7 col-form-label" for="disabled-input">Always</label>
                                            <div class="col-md-2"></div>
                                            <label class="switch switch-3d switch-primary">
                                                <input type="checkbox" class="switch-input">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                        <div class="form-group row p-0">
                                            <label class="col-md-7 col-form-label" for="disabled-input">Busy</label>
                                            <div class="col-md-2"></div>
                                            <label class="switch switch-3d switch-primary">
                                                <input type="checkbox" class="switch-input">
                                                <span class="switch-slider"></span>
                                            </label>    
                                        </div>
                                        <div class="form-group row p-0">
                                            <label class="col-md-7 col-form-label" for="disabled-input">No Asnwer</label>
                                            <div class="col-md-2"></div>
                                            <label class="switch switch-3d switch-primary">
                                                <input type="checkbox" class="switch-input">
                                                <span class="switch-slider"></span>
                                            </label>   
                                        </div>
                                        <div class="form-group row p-0">
                                            <label class="col-md-7 col-form-label" for="disabled-input">Not Reachable</label>
                                            <div class="col-md-2"></div>
                                            <label class="switch switch-3d switch-primary">
                                                <input type="checkbox" class="switch-input">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                              </form>
                        </div>
                    </div>
                </ng-template>
            </li>

            <!-- <li class="nav-item nav-link">
                <a class="btn nav-btn" data-toggle="tooltip" data-placement="top" title="Help">
                    <i class="fa fa-question font-2xl" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item nav-link">
                <a class="btn nav-btn" data-toggle="tooltip" data-placement="top" title="Settings">
                    <i class="fa fa-cog fa font-2xl" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item nav-link">
                <a class="btn nav-btn" data-toggle="tooltip" data-placement="top" title="Profile">
                    <i class="fa fa-user fa font-2xl" aria-hidden="true"></i>
                </a>
            </li> -->

        </ul>
    </div>
</nav>

<!-- content body -->
<div class="container-fluid p-1" style="overflow: hidden !important;">
    <div class="container-fluid justify-content-center">
        <div class="animated fadeIn">
            <!-- upper cards -->
            <div class="row justify-content-center px-1" style="line-height: 3em !important;">
                <!-- <div class="col-md-2 header">
                    <div class="card shadow-sm mb-0 p-0 border-0">
                        <div class="card-body text-center py-2">
                            <img src="../../../assets/img/avatars/5.jpg" class="caller-avatar img-fluid" data-toggle="tooltip" data-placement="top" title="Caller Image" />
                            <i class="flag-icon font-lg flag-icon-us badge" title="us" id="us" data-toggle="tooltip" data-placement="top" title="Caller Country"></i>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-12 header" data-toggle="tooltip" data-placement="top" title="Caller Details">
                    <div class="card shadow-sm mb-0 p-0 border-0">
                        <div class="card-body text-left text-capitalize" style="padding: 0.8em 1.5em">
                            <h4>david henry adams</h4>
                            <h5>+1 541 7543010 <i class="fa fa-phone text-danger px-1 fa-sm"></i> (U.S.A)</h5>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-2 header" data-toggle="tooltip" data-placement="top" title="Connected Time">
                    <div class="card mb-0 p-0 shadow-sm border-0">
                        <i class="fa fa-circle mx-2 mt-1 fa-md text-success text-left" style="font-size: 1.3em;"></i>
                        <div class="card-body py-0">
                            <div class="text-center">
                                <h3>00:05:32</h3>
                                <h5 class="text-success text-uppercase" style="margin-bottom: 0.32em; background:  #ffffff !important;">connected</h5>
                            </div>
                        </div>
                    </div>
                    <div class="buttons text-center">
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Forward Call">
                            <span class="material-icons text-center text-white pt-1">phone_forwarded</span>
                        </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Conference Call">
                            <i class="fa fa-users fa-md"></i>
                        </button>
                    </div>
                </div> -->

                <!-- <div class="col-md-2 header">
                    <div class="card mb-0 p-0 shadow-sm border-0" data-toggle="tooltip" data-placement="top" title="Recording Time">
                        <i class="fa fa-warning mx-2 mt-2 fa-lg text-danger text-left" style="font-size: 1.3em;"></i>
                        <div class="card-footer recording border-0" style="padding-bottom: 0.55em; background-color: #ffffff !important;">
                            <h6 class="text-uppercase" style="font-size: 1.2em; background-color: #ffffff !important;">
                                <span class="float-left">connected</span>
                                <span class="float-right"> 00:05:32</span>
                            </h6>
                        </div>
                        <div class="card-footer pt-0 pb-1 recording border-0" style="background-color: #ffffff !important;">
                            <h6 class="text-uppercase text-danger" style="font-size: 1.2em; background-color: #ffffff !important;">
                                <span class="float-left">recording</span>
                                <span class="float-right"> 00:00:14</span>
                            </h6>
                        </div>
                    </div>
                    <div class="buttons text-center">
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Stop">
                            <i class="fa fa-circle fa-md"></i>
                        </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Pause">
                            <span class="material-icons text-center text-white py-2">pause</span>
                        </button>
                    </div>
                </div> -->

                <!-- <div class="col-md-2 header text-center">
                    <div class="card mb-0 shadow-sm border-0" data-toggle="tooltip" data-placement="top" title="Date and Time">
                        <div class="card-body pb-0" style="padding-top: 0.4em;">
                            <h5 class="m-0 text-center text-capitalize text-primary">Thu 12</h5>
                            <h5 class="m-1 text-center text-capitalize text-primary">Oct 2018</h5>
                        </div>
                        <div class="card-footer py-1 border-0" style="background-color: #ffffff !important;">
                            <h5 class="mb-1 text-center text-capitalize text-primary">22:42</h5>
                        </div>
                    </div>

                    <div class="buttons text-center">
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Minimize">
                            <i class="fa fa-minus fa-lg pt-1" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn button btn-pill btn-success" data-toggle="tooltip" data-placement="top" title="Forward">
                            <span class="material-icons text-center text-white pt-1">phone_forwarded</span>
                    </button>
                    </div>
                </div> -->
            </div>

            <!-- search bar and buttons -->
            <div class="row justify-content-center p-0" style="line-height: 0 !important;">
                <div class="col-md-12 header">
                    <form class="form-inline justify-content-start" style="padding: 0.2em 0 0 1.3em;">
                        <!-- upper search bar -->
                        <div class="input-group mr-3">
                            <!-- <div class="input-group-prepend" style="cursor: pointer;">
                                <span class="input-group-text bg-white shadow-sm"><i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i>
                                </span>
                            </div> -->
                            <div class="row">
                                <input style="width: 25em; height: 2.5em;" id="search-input" class="form-control shadow-sm border-right-0 border-left-0" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="Search" data-toggle="tooltip" data-placement="top" title="Search Contacts">
                                <div class="input-group-append" style="cursor: pointer;">
                                    <!-- <s pan class="input-group-text bg-white shadow-sm"><i class="fa fa-lg fa-keyboard-o" aria-hidden="true"></i></span> -->
                                    <button type="button" class="btn button btn-success  shadow-sm border-right-0 border-left-0" style="height: 2.5em; margin-top: 0;" data-placement="top"  title="Dialpad" [popover]="popTemplate" popoverTitle="Dial Pads">
                                        <span class="material-icons text-center text-white pt-2">dialpad</span>
                                    </button>
                                    
                                    <ng-template #popTemplate>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <form [formGroup]="dialForm">
                                                    <input type="text" formControlName="dialnum" class="form-control" id="contactnumber">
                                                </form>
                                            </div>
                                            <div class="col-md-2 p-0">
                                                <!-- <button class="btn btn-danger">hell</button> -->
                                                <i class="material-icons" style="font-size:35px; margin-top: 10%;" (click)="slicechar()">backspace</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-md-2"></div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
            
                                                    </div>
                                                    
                                                </div>
                                            </div> -->
                                            <div class="col-md-4 p-2" style="justify-items: center;" *ngFor="let key of keys">
                                                <button class="key" (click)="appendnum(key)">{{key}}</button>
                                            </div>
                                            <div class="col-md-4 p-2"></div>
                                            <div class="col-md-4 p-2">
                                                <button class="btn-success dialbtn" (click)="postNew()"><i class="fa fa-phone" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                        <!-- upper buttons -->
                        <!-- <button type="button" class="btn button btn-pill btn-success" data-placement="top" data-toggle="modal" data-target="#dial" title="Dialpad">
                            <span class="material-icons text-center text-white pt-2">dialpad</span>
                        </button> -->

                        <button type="button" class="btn button btn-pill btn-secondary" data-toggle="tooltip" data-placement="top" title="Answer Call">
                                <span class="material-icons text-center text-white pt-1">call</span>
                            </button>
                        <!-- <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="End Call">
                                <span class="material-icons text-center text-white" style="padding-top: 0.3em;">call_end</span>
                            </button> -->
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Pause">
                                <span class="material-icons text-center text-white" style="padding-top: 0.2em; padding-right: 0.1em;">pause</span>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Speaker">
                                <i class="fa fa-microphone pt-1" aria-hidden="true" style="font-size: 1.2em;"></i>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Forward Call">
                                <span class="material-icons text-center text-white" style="padding-top: 0.3em;">phone_forwarded</span>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Conference Call">
                                <i class="fa fa-users fa-md"></i>
                            </button>
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Stop">
                                <i class="fa fa-circle fa-md"></i>
                            </button>
                        <!-- <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Pause">
                                <span class="material-icons text-center text-white" style="padding-top: 0.2em; padding-right: 0.1em;">pause</span>
                            </button> -->
                        <!-- <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Minimize">
                                <i class="fa fa-minus fa-lg pt-1" aria-hidden="true"></i>
                            </button> -->
                        <!-- <button type="button" class="btn button btn-pill btn-success" data-toggle="tooltip" data-placement="top" title="Forward">
                                <span class="material-icons text-center text-white pt-2">phone_forwarded</span>
                            </button> -->
                        
                        <!-- </div> -->
                    </form>
                </div>
            </div>
            <div class="row p-1">
                <div class="collapse" id="collapseExample">
                    <div class="card card-body dialpad" style="width: 25em;">
                        <div class="dialpad">
                            <div class="row">
                                <div class="col-md-10">
                                    <form [formGroup]="dialForm">
                                        <input type="text" formControlName="dialnum" class="form-control dialinput" id="contactnumber">
                                    </form>
                                </div>
                                <div class="col-md-2 p-0">
                                    <!-- <button class="btn btn-danger">hell</button> -->
                                    <i class="material-icons" style="font-size:35px; margin-top: 10%;">backspace</i>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
                                        
                                    </div>
                                </div> -->
                                <div class="col-md-4 p-2" style="justify-items: center;" *ngFor="let key of keys">
                                    <button class="key" (click)="appendnum(key)">{{key}}</button>
                                </div>
                                <div class="col-md-4 p-2"></div>
                                <div class="col-md-4 p-2">
                                    <button class="btn-success dialbtn" (click)="postNew()"><i class="fa fa-phone" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid justify-content-center">
        <div class="animated fadeIn">
            <div class="row justify-content-center py-0">
                <div class="col-md-6 p-1">
                    <ul class="nav nav-pills bg-secondary" role="tablist" data-toggle="tooltip" data-placement="top" title="Current call">
                        <li class="nav-item text-uppercase">
                            <a class="nav-link active" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#current-calls"><i class="fa fa-phone fa-lg pr-3" aria-hidden="true"></i>current calls</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="current-calls" class="container tab-pane active p-0 shadow-sm inner-tab">
                            <table class="table table-sm table-hover text-center text-capitalize m-0 p-0">
                                <thead>
                                    <tr data-toggle="tooltip" data-placement="top" title="Current call">
                                        <th>name</th>
                                        <th>contact</th>
                                        <th>connected</th>
                                        <th>recording</th>
                                    </tr>
                                </thead>
                                <tbody class="currentcalltable drag-list" cdkDropList #currentList="cdkDropList" [cdkDropListData]="current" [cdkDropListConnectedTo]="[parkedList, conferenceList]" (cdkDropListDropped)="drop($event)">
                                    <tr *ngFor="let item of current" cdkDrag class="align-middle drag-box" data-toggle="tooltip" data-placement="top" title="Current call" (click)="selectActiveCalls(item)">
                                        <!-- <td class="align-middle">{{ item.remoteParty.name }}</td> -->
                                        <td class="align-middle">{{item.name}}</td>
                                        <td class="align-middle">{{ item.number }}</td>
                                        <td class="align-middle">{{ item.duration | date: 'hh:mm:ss' }}</td>
                                        <td class="align-middle">{{ item.recording }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h1>{{temp}}</h1>
                        </div>
                    </div>

                    <ul class="nav nav-pills bg-secondary mt-2" role="tablist">
                        <li class="nav-item text-uppercase" data-toggle="tooltip" data-placement="top" title="Parked call">
                            <a class="nav-link active" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#parked-calls"><i class="fa fa-phone fa-lg pr-3" aria-hidden="true"></i>call parked</a>
                        </li>
                        <li class="nav-item text-uppercase" data-toggle="tooltip" data-placement="top" title="Conferences">
                            <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#conferences"><i class="fa fa-users fa-lg pr-3" aria-hidden="true"></i>conferences</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="parked-calls" class="container tab-pane active p-0 shadow-sm inner-tab">
                            <table class="table table-sm table-hover text-center text-capitalize my-0">
                                <thead>
                                    <tr data-toggle="tooltip" data-placement="top" title="Parked call">
                                        <th>parked on</th>
                                        <th>contact</th>
                                        <th>VIP</th>
                                        <th>duration</th>
                                        <th>parked for</th>
                                    </tr>
                                </thead>
                                <tbody class="callparkedtable drag-list" cdkDropList #parkedList="cdkDropList" [cdkDropListData]="parked" [cdkDropListConnectedTo]="[currentList]" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <tr *ngFor="let item of parked" cdkDrag class="align-middle drag-box" data-toggle="tooltip" data-placement="top" title="Parked call">
                                        <td class="align-middle">{{ item.parkedon }}</td>
                                        <td class="align-middle">{{ item.contact}}</td>
                                        <td class="align-middle">{{ item.vip }}</td>
                                        <td class="align-middle">{{ item.duration }}</td>
                                        <td class="align-middle">{{ item.parkedfor }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="conferences" class="container tab-pane p-0 shadow-sm inner-tab">
                            <table class="table table-sm table-hover text-center text-capitalize my-0">
                                <thead>
                                    <tr data-toggle="tooltip" data-placement="top" title="Conference call">
                                        <th>parked on</th>
                                        <th>contact</th>
                                        <th>VIP</th>
                                        <th>duration</th>
                                        <th>parked for</th>
                                    </tr>
                                </thead>
                                <tbody class="conferencetable drag-list" cdkDropList #conferenceList="cdkDropList" [cdkDropListData]="conferences" [cdkDropListConnectedTo]="[currentList]" (cdkDropListDropped)="drop($event)">
                                    <tr *ngFor="let item of conferences" cdkDrag class="align-middle drag-box" data-toggle="tooltip" data-placement="top" title="Conference call">
                                        <td class="align-middle">{{ item.parkedon }}</td>
                                        <td class="align-middle">{{ item.contact}}</td>
                                        <td class="align-middle">{{ item.vip }}</td>
                                        <td class="align-middle">{{ item.duration }}</td>
                                        <td class="align-middle">{{ item.parkedfor }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 p-1">
                    <ul class="nav nav-pills bg-secondary text-uppercase" role="tablist">
                        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="top" title="groups">
                            <a class="nav-link active" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#groups"><i class="fa fa-users fa-lg pr-2" aria-hidden="true"></i>groups</a>
                        </li> -->
                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="personal">
                            <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#personal"><i class="fa fa-address-book fa-lg pr-2" aria-hidden="true"></i>personal</a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="enterprise">
                            <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#enterprise"><i class="fa fa-home fa-lg pr-2" aria-hidden="true"></i>enterprise</a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="call log">
                            <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#calllog"><i class="fa fa-clock-o fa-lg pr-2" aria-hidden="true"></i>call log</a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="report">
                            <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#report"><i class="fa fa-bar-chart fa-lg pr-2" aria-hidden="true"></i>report</a>
                        </li>
                        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="top" title="ldap">
                            <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#ldap"><i class="fa fa-star fa-lg pr-2" aria-hidden="true"></i>ldap</a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="preferences">
                            <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#preferences"><i class="fa fa-home fa-lg pr-2" aria-hidden="true"></i>preferences</a>
                        </li> -->
                    </ul>
                    <div class="tab-content">
                        <!-- <div id="groups" class="tab-pane active p-0 shadow-sm">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="justify-content-center m-2">
                                            <div class="input-group" data-toggle="tooltip" data-placement="top" title="Search Colleagues">
                                                <input type="text" id="search-input-down" class="form-control" placeholder="Search Group Phone List">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-primary pt-1" style="border-radius: 0 30px 30px 0; cursor: pointer;"><i class="fa fa-search" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-hover text-center text-capitalize mt-1 mb-0">
                                <thead>
                                    <tr data-toggle="tooltip" data-placement="top" title="Groups">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Extension</th>
                                        <th>Group ID</th>
                                        <th>User ID</th>
                                        <th>Mobile Number</th>
                                    </tr>
                                </thead>
                                <tbody class="righttable">
                                    <tr *ngFor="let item of groups" class="align-middle" data-toggle="tooltip" data-placement="top" title="Colleagues">
                                        <td class="align-middle">{{ item.firstName }}</td>
                                        <td class="align-middle">{{ item.lastName }}</td>
                                        <td class="align-middle">{{ item.extension }}</td>
                                        <td class="align-middle">{{ item.groupId }}</td>
                                        <td class="align-middle">{{ item.userId }}</td>
                                        <td class="align-middle">{{ item.number }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->

                        <div id="personal" class="tab-pane active p-0 shadow-sm outer-tab">
                            <div class="row"></div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adddetails">
                                        Add Details
                                    </button>
                                </div>
                            </div>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="adddetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-primary" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Personal Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="personalForm">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name" required>
                                              </div>
                                              <div class="form-group">
                                                <label for="contactnumber">Contact Number</label>
                                                <input type="tel" class="form-control" id="contactnumber" placeholder="Enter Contact Number" formControlName="contactnumber" required>
                                              </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-sm btn-primary" (click)="postPersonal()"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                        <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <table class="table table-hover text-center text-capitalize mt-1 mb-0">
                                <thead>
                                    <tr data-toggle="tooltip" data-placement="top" title="Personal">
                                        <th>Name</th>
                                        <th>Mobile Number</th>
                                    </tr>
                                </thead>
                                <tbody class="personaltable">
                                    <tr *ngFor="let item of personal" class="align-middle" data-toggle="tooltip" data-placement="top" title="Colleagues">
                                        <td class="align-middle">{{ item.name }}</td>
                                        <td class="align-middle">{{ item.number }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="enterprise" class="tab-pane p-0x shadow-sm p-0 outer-tab">
                            <table class="table table-hover text-center text-capitalize mt-1 mb-0">
                                <thead>
                                    <tr data-toggle="tooltip" data-placement="top" title="Groups">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Extension</th>
                                        <th>Group ID</th>
                                        <th>User ID</th>
                                        <th>Mobile Number</th>
                                    </tr>
                                </thead>
                                <tbody class="enterprisetable">
                                    <tr *ngFor="let item of enterprise" class="align-middle" data-toggle="tooltip" data-placement="top" title="Colleagues">
                                        <td class="align-middle">{{ item.firstName }}</td>
                                        <td class="align-middle">{{ item.lastName }}</td>
                                        <td class="align-middle">{{ item.extension }}</td>
                                        <td class="align-middle">{{ item.groupId }}</td>
                                        <td class="align-middle">{{ item.userId }}</td>
                                        <td class="align-middle">{{ item.number }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="calllog" class="tab-pane p-0 shadow-sm outer-tab">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="justify-content-center m-2">
                                            <div class="input-group" data-toggle="tooltip" data-placement="top" title="Search Registry">
                                                <input type="text" id="search-input-down" class="form-control" placeholder="Search Call Log">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-primary pt-1" style="border-radius: 0 30px 30px 0; cursor: pointer;"><i class="fa fa-search" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 p-3">
                                        <span class="px-2">Last 7 Days</span>
                                        <span class="px-2">All Events<i class="fa fa-bars px-2 fa-md"></i></span>
                                        <span class="px-2">70 Events<i class="fa fa-bars px-2 fa-md"></i></span>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav nav-pills bg-secondary text-uppercase" role="tablist">
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="received">
                                    <a class="nav-link active" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#received"><i class="fa fa-users fa-lg pr-2" aria-hidden="true"></i>received</a>
                                </li>
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="placed">
                                    <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#placed"><i class="fa fa-address-book fa-lg pr-2" aria-hidden="true"></i>placed</a>
                                </li>
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="missed">
                                    <a class="nav-link" style="padding: 0.4em 0.9em;" data-toggle="pill" href="#missed"><i class="fa fa-clock-o fa-lg pr-2" aria-hidden="true"></i>missed</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="received" class="tab-pane active p-0 shadow-sm">
                                    <table class="table table-hover text-center text-capitalize my-0">
                                    <thead>
                                        <tr data-toggle="tooltip" data-placement="top" title="Registry">
                                            <th>Country Code</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Time</th>
                                            <th>Call Log ID</th>
                                        </tr>
                                    </thead>
                                    <tbody class="calllogtable">
                                        <tr *ngFor="let item of callogs?.received" class="align-middle" data-toggle="tooltip" data-placement="top" title="Registry">
                                            <td class="align-middle">{{ item.countryCode }}</td>
                                            <td class="align-middle">{{ item.name }}</td>
                                            <td class="align-middle">{{ item.phoneNumber }}</td>
                                            <td class="align-middle">{{ item.time }}</td>
                                            <td class="align-middle">{{ item.callLogId }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                
                                <div id="placed" class="tab-pane p-0 shadow-sm">
                                    <table class="table table-hover text-center text-capitalize my-0">
                                        <thead>
                                            <tr data-toggle="tooltip" data-placement="top" title="Registry">
                                                <th>Country Code</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Time</th>
                                                <th>Call Log ID</th>
                                            </tr>
                                        </thead>
                                        <tbody class="calllogtable">
                                            <tr *ngFor="let item of callogs?.placed" class="align-middle" data-toggle="tooltip" data-placement="top" title="Registry">
                                                <td class="align-middle">{{ item.countryCode }}</td>
                                                <td class="align-middle">{{ item.name }}</td>
                                                <td class="align-middle">{{ item.phoneNumber }}</td>
                                                <td class="align-middle">{{ item.time }}</td>
                                                <td class="align-middle">{{ item.callLogId }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div id="missed" class="tab-pane p-0 shadow-sm">
                                    <table class="table table-hover text-center text-capitalize my-0">
                                        <thead>
                                            <tr data-toggle="tooltip" data-placement="top" title="Registry">
                                                <th>Country Code</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Time</th>
                                                <th>Call Log ID</th>
                                            </tr>
                                        </thead>
                                        <tbody class="calllogtable">
                                            <tr *ngFor="let item of callogs?.missed" class="align-middle" data-toggle="tooltip" data-placement="top" title="Registry">
                                                <td class="align-middle">{{ item.countryCode }}</td>
                                                <td class="align-middle">{{ item.name }}</td>
                                                <td class="align-middle">{{ item.phoneNumber }}</td>
                                                <td class="align-middle">{{ item.time }}</td>
                                                <td class="align-middle">{{ item.callLogId }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    
                        </div>

                        <div id="report" class="container tab-pane p-0 shadow-sm outer-tab"> Report
                        </div>

                        <!-- <div id="ldap" class=" container tab-pane  p-0 shadow-sm"> LDAP
                        </div>

                        <div id="preferences" class="container tab-pane p-0 shadow-sm">
                            <div class="card">
                                <div class="card-body cbody">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 p-0">
                                                <div class="justify-content-center m-2">
                                                    <div class="input-group" data-toggle="tooltip" data-placement="top" title="Search Favorites">
                                                        <input style="border-radius: 30px;" type="text" id="search-input-down" class="form-control" placeholder="Search Preferences">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 px-0 pt-2">
                                                <button type="submit" class="btn btn-primary search-btn">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div *ngFor="let item of preferences" class="col-sm-6 col-md-4 column-4">
                                            <div class="card innercard">
                                                <div class="card-body cbody">
                                                    <div class="row" data-toggle="tooltip" data-placement="top" title="Favorites">
                                                        <div class="col-md-3 favimg">
                                                            <img src="{{ item.avatar }}" class="cardimg" alt="preference avatar">
                                                        </div>
                                                        <div class="col-md-9">
                                                            <b>{{ item.name }}</b><br>
                                                            <span class="info">{{ item.info }}</span><br>
                                                            <div class="available">
                                                                {{ item.status }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                      <strong>settings</strong>
                    </div>
                    <div class="card-body">
                      <form [formGroup]="settingForm" class="form-horizontal">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="text-input">Call Forwarding</label>
                          <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="email-input">Anywhere</label>
                          <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="password-input">Remote Office</label>
                          <div class="col-md-7"></div>
                            <label class="switch switch-3d switch-primary">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="date-input">Simultaneous Ring</label>
                          <div class="col-md-7"></div>
                            <label class="switch switch-3d switch-primary">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="disabled-input">Voicemail</label>
                          <div class="col-md-7"></div>
                            <label class="switch switch-3d switch-primary">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="textarea-input">ACD State</label>
                          <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                          </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Call Forwarding</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="disabled-input">Always</label>
                                    <div class="col-md-7"></div>
                                    <label class="switch switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="disabled-input">Busy</label>
                                    <div class="col-md-7"></div>
                                    <label class="switch switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>    
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="disabled-input">No Asnwer</label>
                                    <div class="col-md-7"></div>
                                    <label class="switch switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>   
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="disabled-input">Not Reachable</label>
                                    <div class="col-md-7"></div>
                                    <label class="switch switch-3d switch-primary">
                                        <input type="checkbox" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                      </form>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<!-- pratik -->
<!-- <div class="lowerpart container-fluid justify-content-center p-1 mt-1">
        <div class="animated fadeIn">

        </div>
    </div> -->
<!-- <div class="container-fluid justify-content-center">
        <div class="animated fadeIn">
            <div class="row justify-content-center p-0" style="line-height: 3em !important;">
                <div class="col-md-6 header">
                    <form class="form-inline justify-content-center" style="padding: 0.4em 2em 0.3em 2em;">
                        <input id="search-input" class="form-control" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="Search" data-toggle="tooltip" data-placement="top" title="Search Contacts">
                    </form>
                </div>
                <div class="col-md-6 header">
                    <div class="text-center">
                        <button type="button" class="btn button btn-pill btn-secondary" data-toggle="tooltip" data-placement="top" title="Answer Call">
                                <span class="material-icons text-center text-white pt-1">call</span>
                            </button>
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="End Call">
                                <span class="material-icons text-center text-white pt-2">call_end</span>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Pause">
                                <span class="material-icons text-center text-white py-1">pause</span>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Speaker">
                                <i class="fa fa-microphone pt-1" aria-hidden="true" style="font-size: 1.2em;"></i>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Forward Call">
                                <span class="material-icons text-center text-white pt-2">phone_forwarded</span>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Conference Call">
                                <i class="fa fa-users fa-md"></i>
                            </button>
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Stop">
                                <i class="fa fa-circle fa-md"></i>
                            </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Pause">
                                <span class="material-icons text-center text-white py-2">pause</span>
                            </button>
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Minimize">
                                <i class="fa fa-minus fa-lg pt-1" aria-hidden="true"></i>
                            </button>
                        <button type="button" class="btn button btn-pill btn-success" data-toggle="tooltip" data-placement="top" title="Forward">
                                <span class="material-icons text-center text-white pt-2">phone_forwarded</span>
                            </button>
                    </div>
                </div>
                
                <div class="col-md-2 header">
                    <div class="card mb-0 p-0 shadow-sm border-0">
                        <i class="fa fa-circle fa-md px-4 text-success text-left" style="font-size: 1.3em;"></i>
                        <div class="card-body py-0">
                            <div class="text-center">
                                <h3 class="font-weight-bold mb-0">00:05:32</h3>
                                <h5 class="font-weight-bold mb-0 text-success text-uppercase" style="margin-bottom: 0.2em; background:  #ffffff !important;">connected</h5>
                            </div>
                        </div>
                    </div>
                    <div class="buttons text-center">
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Forward Call">
                            <span class="material-icons text-center text-white pt-1">phone_forwarded</span>
                        </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Conference Call">
                            <i class="fa fa-users fa-md"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-2 header">
                    <div class="card mb-0 py-0 shadow-sm border-0">
                        <i class="fa fa-warning px-4 fa-lg text-danger text-left" style="padding-top:0.1em; font-size: 1.3em;"></i>
                        <div class="card-footer pb-0 recording border-0" style="padding-top: 0.4em; background-color: #ffffff !important;">
                            <h6 class="font-weight-bold px-2 text-uppercase" style="font-size: 1.2em; background-color: #ffffff !important;">
                                <span class="float-left">connected</span>
                                <span class="float-right"> 00:05:32</span>
                            </h6>
                        </div>
                        <div class="card-footer recording border-0 pb-0" style="padding-top: 0.4em; background-color: #ffffff !important;">
                            <h6 class="font-weight-bold px-2 text-uppercase text-danger" style="padding-bottom: 0.8em; font-size: 1.2em; background-color: #ffffff !important;">
                                <span class="float-left">recording</span>
                                <span class="float-right"> 00:00:14</span>
                            </h6>
                        </div>
                    </div>
                    <div class="buttons text-center">
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Stop">
                            <i class="fa fa-circle fa-md"></i>
                        </button>
                        <button type="button" class="btn button btn-pill btn-primary" data-toggle="tooltip" data-placement="top" title="Pause">
                            <span class="material-icons text-center text-white py-2">pause</span>
                        </button>
                    </div>
                </div>

                 <div class="col-md-2 header text-center">
                    <div class="card mb-0 p-0 shadow-sm border-0">
                        <div class="card-body p-0">
                            <h5 class="font-weight-bold pt-1 m-0 pb-0 text-center text-capitalize text-primary">Thu 12</h5>
                            <h5 class="font-weight-bold pb-0 text-center text-capitalize text-primary" style="margin: 0.01em;">Oct 2018</h5>
                        </div>
                        <div class="card-footer py-0 border-0" style="bac<tr data-toggle="tooltip" data-placement="top" title="Current call">
                                        <td class="align-middle">david henry adams</td>
                                        <td class="align-middle">(U.S.A) +1 541 7543010</td>
                                        <td class="align-middle">00:05:32</td>
                                        <td class="align-middle">00:00:14</td>
                                    </th>kground-color: #ffffff !important;">
                            <h5 class="font-weight-bold mb-0 text-center text-capitalize text-primary">22:42</h5>
                        </div>
                    </div>

                    <div class="buttons text-center">
                        <button type="button" class="btn button btn-pill btn-danger" data-toggle="tooltip" data-placement="top" title="Minimize">
                            <i class="fa fa-minus fa-lg pt-1" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn button btn-pill btn-success" data-toggle="tooltip" data-placement="top" title="Forward">
                            <span class="material-icons text-center text-white pt-1">phone_forwarded</span>
                    </button>
                    </div>
                </div>

            </div>
        </div>
    </div> -->