@import "./../../../scss/variables.scss";


@function theme-color($key: 'primary', $variant: 'base') {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

/* navbar */

.navbar {
    transition: all 0.4s;
    height: 3.4em;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
} */


/* navbar icons */


/* .fa.fa-bars {
    color: rgba(0, 0, 0, .5);
}

.fa.fa-cog,
.fa.fa-user,
.fa.fa-question {
    -webkit-text-stroke-color: rgba(0, 0, 0, .5);
    color: transparent;
    -webkit-text-stroke-width: 2px;
}

.fa.fa-cog:hover,
.fa.fa-user:hover,
.fa.fa-question:hover {
    -webkit-text-stroke-color: #ffffff;
} */


/* Change navbar styling on scroll */

.navbar.active {
    background-color: #20a8d8 !important;
}

.navbar-toggler:hover {
    background-color: #20a8d8;
    color: #ffffff;
}

.nav-btn:hover {
    background-color: #20a8d8;
    border-color: #20a8d8;
    cursor: pointer;
    color: #ffffff !important;
}


/* caller avatar */

.caller-avatar {
    border-radius: 50%;
    height: 4.9em;
    width: 4.9em;
}

.badge:empty {
    display: initial;
    position: absolute;
    border-radius: 50%;
    left: 59%;
    cursor: pointer;
}


/* material icons */

.material-icons {
    font-size: 1.4em;
}


/* buttons div */

.buttons {
    padding-right: 0;
}


/* all round buttons */

.button {
    height: 2.3em;
    width: 2.3em;
    margin: 0.2em 0.3em 0.1em 0.3em;
    padding: 0;
}


/* upper half columns */

.header {
    padding: 0;
}


/* search input */

#search-input {
    width: 100%;
    height: 2.3em;
    outline: none;
}

#search-input:focus {
    border-color: #20a8d8;
    box-shadow: 0 0 0.3em 0 rgba(32, 168, 216);
}


/* width */

::-webkit-scrollbar {
    width: 0em;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #ffffff;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #dee2e6;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #c8ced3;
}


/* tables */

table {
    border: 1px solid #dee2e6;
}

tbody {
    display: block;
    /* max-height: 16.5em; */
    overflow: scroll;
    font-size: 0.85em;
}

thead,
tbody tr {
    display: table;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
}

th {
    padding: 0.6em;
}

td {
    padding: 0.6em;
}

.lefttable {
    max-height: 9em;
}

.righttable {
    max-height: 20em;
}

/* pratik */


/* .lowerpart {
    margin-top: 5px;    
} */

.col-sm-2 {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.column-4 {
    padding: 0px 5px;
}

#search-input-down {
    border: 0.1em solid #c8ced3;
    border-radius: 30px 0 0 30px;
}

#search-input-down:focus {
    border-color: #20a8d8;
    box-shadow: 0 0 0.3em 0 rgba(32, 168, 216);
}

.search-btn {
    border-radius: 30px;
}

.cardimg {
    width: 80%;
    border: 5px solid;
    border-color: #006400;
    border-radius: 50%;
    margin-top: 0%;
    padding: 5%;
}

.favimg {
    margin-left: 0;
    padding: 0 0;
}

.col {
    padding: 0;
}

.available {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.status {
    font-size: 12px;
    text-align: justify;
}

.info {
    font-size: 10px;
}

.innercard {
    height: 80%;
}

.cbody {
    padding-bottom: 0;
    padding-top: 10px;
}

.tab-pane.active {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.tableimg {
    width: 35px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 10px;
}