/* navbar */

.navbar {
    transition: all 0.4s;
    height: 3.4em;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
} */


/* navbar icons */


/* .fa.fa-bars {
    color: rgba(0, 0, 0, .5);
}

.fa.fa-cog,
.fa.fa-user,
.fa.fa-question {
    -webkit-text-stroke-color: rgba(0, 0, 0, .5);
    color: transparent;
    -webkit-text-stroke-width: 2px;
}

.fa.fa-cog:hover,
.fa.fa-user:hover,
.fa.fa-question:hover {
    -webkit-text-stroke-color: #ffffff;
} */


/* Change navbar styling on scroll */

.navbar.active {
    background-color: #20a8d8 !important;
}

.navbar-toggler:hover {
    background-color: #20a8d8;
    color: #ffffff;
}

.nav-btn:hover {
    background-color: #20a8d8;
    border-color: #20a8d8;
    cursor: pointer;
    color: #ffffff !important;
}


/* caller avatar */

.caller-avatar {
    border-radius: 50%;
    height: 4.8em;
    width: 4.8em;
}

.badge:empty {
    display: initial;
    position: absolute;
    border-radius: 50%;
    left: 59%;
    cursor: pointer;
}


/* material icons */

.material-icons {
    font-size: 1.4em;
}


/* buttons div */

.buttons {
    padding-right: 0;
}


/* all round buttons */

.button {
    height: 2.3em;
    width: 2.3em;
    margin: 0.2em 0.3em 0.1em 0.3em;
    padding: 0;
}


/* upper half columns */

.header {
    padding: 0;
}


/* header cards */

.card {
    cursor: pointer;
}


/* search input */

#search-input {
    width: 100%;
    height: 2.3em;
    outline: none;
}

#search-input:focus {
    border-color: #20a8d8;
    box-shadow: 0 0 0.3em 0 rgba(32, 168, 216);
}


/* width */

::-webkit-scrollbar {
    width: 0em;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #ffffff;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #dee2e6;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #c8ced3;
}


/* tables */

table {
    border: 1px solid #dee2e6;
}

tbody {
    display: block;
    /* max-height: 16.5em; */
    overflow: scroll;
    font-size: 0.85em;
}

thead,
tbody tr {
    display: table;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
}

th {
    padding: 0.6em;
    font-weight: 500;
}

td {
    padding: 0.6em;
}


/* left side tables */

.lefttable {
    height: 9.3em;
    overflow: hidden;
    max-height: 9.3em;
}

.currentcalltable{
    height: 9.5em;
    max-height: 9.5em;
}

.callparkedtable{
    height: 9.5em;
    max-height: 9.5em;
}

.conferencetable{
    height: 9.5em;
    max-height: 9.5em;
}


/* right side table */

.personaltable {
    height: 22.7em;
    max-height: 22.7em;
}

.enterprisetable {
    height: 25.6em;
    max-height: 25.6em;
}

.calllogtable {
    height: 19em;
    max-height: 19em;
}


/* drag and drop animation */

.drag-list {
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.drag-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: #ffffff;
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
    border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


/* pratik */


/* tab size */

.outer-tab{
    height: 25em;
    max-height: 25em; 
}

.inner-tab{
    height: 11em;
    max-height: 11em;
}


/* .lowerpart {
    margin-top: 5px;    
} */

.col-sm-2 {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.column-4 {
    padding: 0px 5px;
}

#search-input-down {
    border: 0.1em solid #c8ced3;
    border-radius: 30px 0 0 30px;
}

#search-input-down:focus {
    border-color: #20a8d8;
    box-shadow: 0 0 0.3em 0 rgba(32, 168, 216);
}

.search-btn {
    border-radius: 30px;
}

.cardimg {
    width: 80%;
    border: 5px solid;
    border-color: #006400;
    border-radius: 50%;
    margin-top: 0%;
    padding: 5%;
}

.favimg {
    margin-left: 0;
    padding: 0 0;
}

.col {
    padding: 0;
}

.available {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.status {
    font-size: 12px;
    text-align: justify;
}

.info {
    font-size: 10px;
}

.innercard {
    height: 80%;
}

.cbody {
    padding-bottom: 0;
    padding-top: 10px;
}

.tab-pane.active {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.tableimg {
    width: 35px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 10px;
}

/* WSDS */

.key {
    background: #272727;
    color: whitesmoke;
    /* margin: px; */
    border-radius: 20%;
    width: 70px;
    height: 45px;
    font-size: 1rem;
    margin-left: 10px;
}

.dialbtn {
    border-radius: 20%;
    width: 70px;
    height: 45px;
    font-size: 1rem;
    margin: 7px;
}

.dialinput {
    margin: 5px;
    border: none;
    font-size: 1.5rem;
    color:#272727;
    border-radius: 5%;
    height: 35px;
    background: #272727;
    color: whitesmoke;
}

.dialpad {
    border-radius: 5%;
}
