<div class="app" style="background: #00B4DB; background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); background: linear-gradient(to right, #0083B0, #00B4DB);">
    <div class="app-body justify-content-center" style="background: #00B4DB; background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); background: linear-gradient(to right, #0083B0, #00B4DB);">
        <div class="container align-items-center" style="margin-top: 5em;">
            <div class="row shadow-lg bg-white align-items-center m-auto p-5" style="width: 90%; border-radius: 0.7em;">
                <div class="col-md-6 mx-auto">
                    <div class="card-group">
                        <div class="card text-center border-0">
                            <div class="card-body text-center p-0">
                                <img src="../../../assets/img/avatars/login-image.svg" class="img-fluid" alt="VoipXP login image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="card-group">
                        <div class="card text-center border-0">
                            <div class="card-body px-0">
                                <!-- <div class="container p-0"> -->
                                <form [formGroup]="loginForm">
                                    <h1 class="text-dark">Login</h1>
                                    <p class="text-muted">Sign In to your account</p>
                                    <div class="row justify-content-center">
                                        <div class="input-group mt-4 mb-3 w-75">
                                            <div class="input-group-prepend" style="height: 2.8em">
                                                <span class="input-group-text px-3 bg-primary" style="border-radius: 3em 0 0 3em;"><i class="fa fa-lg fa-user"></i></span>
                                            </div>
                                            <input type="text" formControlName="username" class="form-control border-left-0" placeholder="Username" autocomplete="username" style="height: 2.8em; border-radius: 0 3em 3em 0;">
                                        </div>
                                        <div class="p-0 m-0" *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                                            <div class="alert alert-danger" *ngIf="loginForm.controls['username'].errors.required">
                                                Username is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="input-group mb-4 w-75">
                                            <div class="input-group-prepend text-center" style="height: 2.8em">
                                                <span class="input-group-text px-3 bg-primary" style="border-radius: 3em 0 0 3em;"><i class="fa fa-lg fa-lock"></i></span>
                                            </div>
                                            <input type="password" formControlName="password" class="form-control border-left-0" placeholder="Password" autocomplete="current-password" style="height: 2.8em; border-radius: 0 3em 3em 0;">
                                        </div>
                                        <div class="p-0 m-0" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                                            <div class="alert alert-danger" *ngIf="loginForm.controls['password'].errors.required">
                                                Password is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary text-uppercase" style="padding: 0.7em 4em; border-radius: 3em;">Login</button>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                    </div>
                                </form>
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <h2>VoipXP</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>